.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 3em .5em 2em;
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 10%);
    .title-nav{
        width: 1366px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            cursor: pointer;
            small{
                // color: #0257dffe;
                color: #251199;
            }
        }
    
        .menu{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                gap: 1em;
                li:hover{
                    // color: rgb(66, 66, 239);
                    color: #4663BE;
                    cursor: pointer;
                }
            }
        }
    }
    
}