.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3em 0 2em;
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 10%);
    .title-nav{
        width: 1366px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            cursor: pointer;
            h2{
                font-size: 1.8em;
            }
            small{
                // color: #0257dffe;
                color: #251199;
                position: relative;
                top: -8px;
                font-weight: 500;
            }
        }
    
        .menu{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                gap: 3em;
                li{
                    font-weight: 410;
                }
                li:hover{
                    // color: rgb(66, 66, 239);
                    color: #3920c9;
                    cursor: pointer;
                }
            }

            @media(max-width:890px){
                display: none;
            }
        }
        .menu-icons{
            padding: 11px 10px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            display: none;
            cursor: pointer;

            .menu-bars{
                border: 1.2px solid #3920c9;
                width: 20px;
                margin: 5px 0;
            }

            &.cross-menu{
                .menu-bar-1{
                    transform: rotate(-45deg);
                    position: relative;
                    top: 3px;
                }
                .menu-bar-2{
                    transform: rotate(45deg);
                    position: relative;
                    top: -3px;
                }

            }

            @media(max-width:890px){
                display: block;
            }
        }
    }
    
}

.mobile-menu{
    z-index: 999999;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    .menu{
        max-width: 170px;
        width: 100%;
        background-color: #fff;
        border-top: 1.5px solid #ddd;
        padding: 10px;
        ul{
            list-style: none;
            margin: 0;
            li{
                padding: 10px;
                cursor: pointer;
            }
            li:hover{
                color: #3920c9;
            }
        }
    }

    @media(min-width:890px){
        display: none;
    }
}