<div class="wrapper">
    <div class="title-nav">
        <div class="title">
            <h2>Swamy</h2>
            <small>Software Engineer</small>
            
          </div>
          <div class="menu">
            <ul (click)="navigationFromHeader($event)">
              <li class="skills">Skills</li>
              <li class="experience">Experience</li>
              <li class="experience">Projects</li>
              <li class="about">About</li>
            </ul>
          </div>
          <div class="menu-icons" [ngClass]="isMenuOpened ? 'cross-menu' : ''" (click)="menuEvents()">
            <div class="menu-bar-1 menu-bars"></div>
            <div class="menu-bar-2 menu-bars"></div>
          </div>
    </div>
</div>


  <div class="mobile-menu" *ngIf="isMenuOpened">
    <div class="menu">
      <ul (click)="navigationFromHeaderForMobile($event)">
        <li class="skills">Skills</li>
        <li class="experience">Experience</li>
        <li class="experience">Projects</li>
        <li class="about">About</li>
      </ul>
    </div>
  </div>