.wrapper{
    .first-section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 2em;
        margin: 1.5em 0;
        .note{
            width: 50%;
            .title{
                font-size: 3.5em;
                font-weight: 700;
                margin-top: 1em;
                span{
                    color: #a10000;
                }
            }
            .sub-title{
                border-bottom: 1.5px solid #a10000;
                display: inline; 
                font-weight: 600; 
            }
            .about{ 
                text-align: justify;
                color: #848685;
                font-size: 1em;
                padding: 10px 0;
                
            }
            .button-icons{
                display: flex;
                align-items: center;
                gap: 5em;
                button{
                    padding: 15px 20px;
                    margin: 1.5em 0;
                    outline: none;
                    background-color: #3920c9;
                    color: #fff;
                    border: none;
                    font-size: 1em;
                    cursor: pointer;
                    border-radius: 8px;
                    font-weight: 500;
                    box-shadow:0px 0px 10px 0 rgb(0 0 0/10%)
                    
                }
                button:hover{
                    background-color: #251199;
                }
                .icons{
                    display: flex;
                    gap: 2.5em;
                    
                }
            }

        }
        .img{
            width: 450px;
            height: 450px;
            img{
                width: 100%;
                margin-top: 1.5em;
                mix-blend-mode: multiply;
                
                // filter: drop-shadow(0 0 0.75rem #f2f2f2);
                
            }
        }

        @media(max-width:890px){
            flex-direction: column-reverse;
            .note{
                width: 85%;
            }
        }
    }
    .skills-section{
        // margin: 3em;
        .title{
            text-align: center;
            text-transform: uppercase;
            margin: 1.5em 0;
            h2{
                font-size: 2.1em;
            }
        }
        .skill-content-block{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 1.5em;
            .skill{
                background-color: #fff;
                box-shadow: 0 0 10px 0 rgb(0 0 0/10%);
                padding: 20px;
                // max-width: 30%;
                border-bottom: 3px solid #3920c9;
                border-radius: 4px;
                p{
                    font-weight: 500;
                    padding: 0;
                    margin: 0;
                    border-bottom: 1.5px solid #848685;
                    
                }
                ul{
                    margin:1em 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 1em;
                    li{
                        background-color: #f1f1f1;
                        padding: 2px 10px;
                        font-size: .9em;
                        color: #848685;
                        border-radius: 3px;
                    }


                }

            }
            
        }
    }
    .project-section{
        // margin: 5em 3em;
        .title{
            margin: 1em;
            text-align: center;
            text-transform: uppercase;
        }
        .project-section-panel{
            margin-top: 1.5em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 1.5em;
            .project{
                box-shadow: 0 0 10px 0 rgb(0 0 0/10%);
                padding: 20px;
                border-radius: 4px;
                cursor: pointer;
                transition: all .2s ease-in;
                border-bottom: 3px solid #3920c9;
                // max-width: 30%;
                p{
                    font-size: 1.3em;
                    font-weight: 600;
                    border-bottom: 1.8px solid #ddd;
                    display: inline-block;
                }
                ul{
                    margin: .5em;
                    padding: 0.5em 1em;
                    li{
                        color: #848685;
                        padding-top: .2em;
                    }
                }

            }
            .project:hover{
                // transform: translateY(-10px);
            }
        }
    }
    .experiance-section{
        // margin: 5em 3em;
        .title{
            text-align: center;
            text-transform: uppercase;
        }
        .experience-block{
            margin-top: 1.5em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 1.5em;

            .experience{
                box-shadow: 0 0 10px 0 rgb(0 0 0/10%);
                padding: 20px;
                border-radius: 4px;
                border-bottom: 3px solid #3920c9;
                .profile{
                    
                    p{
                        margin: .5em 0 .7em 0;
                        color: #fff;
                        background:#251199;
                        border-radius: 4px;
                        display: inline-block;
                        padding: 5px 15px;

                    }
                }
                .roles{
                    ul{
                        list-style: " > ";
                        margin: .5em 1em;
                        opacity: .6;
                        li{
                            padding-top: 5px;
                        }
                    }
                }
                .skills-used{
                    margin-top: 1em;
                    ul{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        list-style: none;
                        margin: 1em;
                        gap: 1em;
                        li{
                            background-color: #f1f1f1;
                            padding: 1px 10px;
                            border-radius: 5px;

                        }
                    }
                }
            }
        }
    }
    
}

.common-margin{
    margin: 4rem 2em;
    @media(max-width:1020px){
        margin: 1.4em;
    }
}