.wrapper{
    .first-section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 2em;
        margin: 1.5em 0;
        .note{
            width: 50%;
            .title{
                font-size: 3.5em;
                font-weight: 700;
                margin-top: 1em;
                span{
                    color: #a10000;
                }
            }
            .sub-title{
                border-bottom: 1.5px solid #a10000;
                display: inline; 
                font-weight: 600; 
            }
            .about{ 
                text-align: justify;
                // color: #848685;
                color: #777;
                font-size: 1em;
                padding: 10px 0;
                
            }
            .button-icons{
                display: flex;
                align-items: center;
                gap: 5em;
                flex-wrap: wrap;
                button{
                    padding: 15px 20px;
                    margin: 1.5em 0;
                    outline: none;
                    // background-color: #3920c9;
                    background-color: #251199;
                    color: #fff;
                    border: none;
                    font-size: 1em;
                    cursor: pointer;
                    border-radius: 8px;
                    font-weight: 500;
                    box-shadow:0px 0px 10px 0 rgb(0 0 0/10%);

                    .link{
                        color: #fff;
                        text-decoration: none; 
                    }
                    
                }
                button:hover{
                    background-color: #251199;
                }
                .icons{
                    display: flex;
                    gap: 2.5em;
                    
                }

                @media(max-width:780px){
                    gap: 1em;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
        .img{
            width: 450px;
            height: 450px;
            img{
                width: 100%;
                margin-top: 1.5em;
                mix-blend-mode: multiply;
                
            }
        }

        @media(max-width:890px){
            flex-direction: column-reverse;
            .note{
                width: 85%;
            }
        }
    }
    .skills-section{
        .section-title{
            border-bottom: 3px solid #ddd;
            .title-name{
                font-size: 2em;
                font-weight: 800;
            }
        }
        .skills-child{
            display: flex;
            width: 100%;
            justify-content: space-between;
            // flex-wrap: wrap;
            gap: 1.5em;
            .skill{
                width: 100%;
                margin-top: 1em;
                padding: 0 0 10px 0;
                box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
                border-radius: 6px;
            }

            @media(max-width:870px){
                flex-direction: column;
            }
        }
        .project-child{
            // margin-top: 1em;
            // padding: 10px 20px;
            // box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
            // border-radius: 6px;
            .skill{
                margin-top: 1em;
                padding: 10px 20px;
                box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
                border-radius: 6px;
            }
        }
    }
    
    .common-margins{
        margin: 5em 0;
    }
}

