<div class="wrapper">
    <div class="first-section">
       <div class="note">
            <p class="title">I'm Swamy</p>
            <p class="sub-title">Personality</p>
            <div class="about">
                <p>
                    I have a keen analytical mind and take my time to examine all the possible possibilities before deciding on anything. I have a high propensity for self-learning and am always looking to improve. My ability to embrace different viewpoints and question conventional wisdom is a result of my open-mindedness. Being adaptable, I do well in dynamic surroundings and can easily change my situation. My innovative mindset frequently generates original and imaginative ideas.
                </p>
            </div>
       </div>
       <div class="img">
        <img src="../../../assets/Imges/pic3.jpg" alt="PROFILE PIC" srcset="">
       </div>
    </div>
    <div class="skills-section">
        <div class="title">
            <h1>Tech Stack</h1>
        </div>
        <div class="skill-content">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>SCSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>SQL</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Java</li>
                <li>Spring Framework</li>
                <li>Spring Boot</li>
            </ul>

        </div>
    </div>
</div>