<div class="wrapper">
    <div class="title-nav">
        <div class="title">
            <h2>Swamy Thudum</h2>
            <small>{{gmailAddress}}</small>  
          </div>
          <div class="menu">
            <ul (click)="navigation($event)">
            <!-- <ul > -->
              <li id="skills">Skills</li>
              <li id="experience">Experience</li>
              <li id="experience">Projects</li>
              <li id="about">About</li>
            </ul>
          </div>
    </div>
</div>