<footer>
    <div class="author-info">
        <h1>Swamy Thudum</h1>
        <a href="mailto:thudumswamy786@gmail">thudumswamy786@gmail.com</a>
    </div>
    <div class="quick-links">
        <ul>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experiance">Experience</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
        </ul>
    </div>
</footer>