.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    .header-content{
        width: 100%;
    }
    .screen-wrapper{
        max-width: 	1366px;
        width: 100%;
        .router-content{
            padding: 0 1em;
        }


    }

}